﻿ <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
 <meta charset = utf-8>
<div style="background-color:#f2f3f5;padding:20px">
    <div style="max-width:600px;margin:0 auto">
        <div style="background:#fff;font:14px Open Sans;color:#686f7a;border-top:4px solid  #cc0000;margin-bottom:20px">
            <div style="float:left;border-bottom:1px solid #f2f3f5;padding:20px 30px">
                <img width="67"  style="float:left" alt="Michael Pop's'" src="cid:icon" class="CToWUd">>
                <div style="float:left;margin-top:10px;margin-left:15px;">
                    Michael Pop's &copy;
                </div>
            </div>

            <div style="padding:20px 30px;clear:both">
                <div style="font-size:16px;line-height:1.5em;border-bottom:1px solid #fff;padding-bottom:10px;margin-bottom:20px">
                    <p>
                        <a style="text-decoration:none;color:#4d0000">
                            E-mail Michael Pop's
                        </a>
                    </p>

                    <p style="color:#4d0000">
                        {MENSAGEM}
                    </p>
                </div>
            </div>

        </div>
        <div style="font:11px;color:#4d0000">
            <p style="font-size:11px;color:#4d0000">
                Michael Pop's
            </p>
        </div>
    </div>
</div>